In [231]:
import numpy as np
from sklearn.model_selection import train_test_split,cross_val_score, cross_val_predict
from sklearn.model_selection import KFold
from sklearn import metrics
from sklearn import tree
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [232]:
X_trainc = pd.read_csv('x_train.csv',sep=' ', header=None)
X_trainc.drop(96,axis=1,inplace=True)
X_trainc.head()

,0,1,2,3,4,5,6,7,8,9,...,86,87,88,89,90,91,92,93,94,95
0,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
1,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1,1,1
2,1,1,1,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,1,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0

In [233]:
X_testc = pd.read_csv('x_test.csv',sep=' ', header=None)
X_testc.drop(96,axis=1,inplace=True)
X_testc.head()

,0,1,2,3,4,5,6,7,8,9,...,86,87,88,89,90,91,92,93,94,95
0,0,0,0,0,0,0,1,1,0,0,...,1,0,1,0,0,0,0,0,1,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,1,1,0,0,0,0,0,0
3,1,1,1,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,1

In [234]:
y_trainc=pd.read_csv('y_train.csv',sep=' ',header=None)
y_trainc.head()

   0  1  2  3  4  5  6  7  8  9
0  1  0  0  0  0  0  0  0  0  0
1  0  1  0  0  0  0  0  0  0  0
2  0  0  1  0  0  0  0  0  0  0
3  0  0  0  0  1  0  0  0  0  0
4  0  0  0  0  0  1  0  0  0  0

In [235]:
y_testc= pd.read_csv('y_test.csv',sep=' ',header=None)
y_testc.head()

   0  1  2  3  4  5  6  7  8  9
0  1  0  0  0  0  0  0  0  0  0
1  0  1  0  0  0  0  0  0  0  0
2  0  0  1  0  0  0  0  0  0  0
3  0  0  0  0  1  0  0  0  0  0
4  0  0  0  0  0  1  0  0  0  0

In [236]:
X_trainc2=X_trainc.append(X_testc)
y_trainc2= y_trainc.append(y_testc)
X_trainc2

,0,1,2,3,4,5,6,7,8,9,...,86,87,88,89,90,91,92,93,94,95
0,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
1,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1,1,1
2,1,1,1,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,1,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4495,0,0,0,0,0,1,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
4496,1,0,0,0,0,0,0,0,1,0,...,1,0,1,0,0,0,0,0,1,0
4497,1,1,1,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
4498,0,1,0,0,0,0,0,0,0,1,...,0,0,1,1,1,0,0,0,0,0
4499,1,1,1,0,0,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0

In [237]:
y_trainc3=y_trainc2.idxmax(axis=1)
y_trainc3

0       0
1       1
2       2
3       4
4       5
       ..
4495    5
4496    6
4497    8
4498    7
4499    9
Length: 5400, dtype: int64

In [238]:
X_train, X_test, y_train, y_test = train_test_split(X_trainc2, y_trainc3, test_size=0.25, shuffle=False, random_state= 1)

### Naive Bayes using Holdout , test size 0.25

In [239]:
gnb= GaussianNB()
y_prednb=gnb.fit(X_train,y_train).predict(X_test)
metrics.accuracy_score(y_test,y_prednb)

0.8503703703703703

### KNN, holdout , test size 0.25

In [240]:
knn= KNeighborsClassifier()
y_predknn= knn.fit(X_train,y_train).predict(X_test)
metrics.accuracy_score(y_test,y_predknn)

0.914074074074074

### Decision tree using gini, holdout, test size as 0.25

In [241]:
dtclf= DecisionTreeClassifier(random_state=1)
dtclf= dtclf.fit(X_train, y_train)
y_pred= dtclf.predict(X_test)

In [242]:
metrics.accuracy_score(y_test, y_pred)

0.9637037037037037

In [243]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(X_trainc2, y_trainc3, test_size=0.25, random_state= 1)

### Using Naive Bayes, random subsampling, test size as 0.25

In [244]:
gnb= GaussianNB()
y_prednb1=gnb.fit(X_train1,y_train1).predict(X_test1)
metrics.accuracy_score(y_test1,y_prednb1)

0.8274074074074074

### Using KNN, random subsampling, test size= 0.25

In [245]:
y_predknn1=knn.fit(X_train1,y_train1).predict(X_test1)
metrics.accuracy_score(y_test1,y_predknn1)

0.9014814814814814

### Using Decision tree gini and random subsampling, test size as 0.25

In [246]:
dtclf1= DecisionTreeClassifier(random_state=1)
dtclf1= dtclf1.fit(X_train1, y_train1)
y_pred1= dtclf1.predict(X_test1)

In [247]:
metrics.accuracy_score(y_test1, y_pred1)

0.9711111111111111

### Using Naive Bayes and cross validation, test size as 0.25

In [248]:
y_prednb2= cross_val_predict(gnb, X_trainc2, y_trainc3, cv=4)
metrics.accuracy_score(y_trainc3,y_prednb2)

0.8292592592592593

### Using KNN and cross validation, test size= 0.25

In [249]:
y_predknn2= cross_val_predict(knn, X_trainc2, y_trainc3, cv=4)
metrics.accuracy_score(y_trainc3,y_predknn2)

0.9064814814814814

### Using Decision tree gini and cross validation, test size as 0.25

In [250]:
dtclf2= DecisionTreeClassifier(random_state=1)
y_pred2= cross_val_predict(dtclf2, X_trainc2, y_trainc3 ,cv=4)
metrics.accuracy_score(y_trainc3, y_pred2)

0.97

In [251]:
y_score2= cross_val_score(dtclf2, X_trainc2, y_trainc3 ,cv=4)
y_score2

array([0.97925926, 0.96444444, 0.97259259, 0.9637037 ])

In [252]:
np.mean(y_score2)

0.97

In [253]:
X_train3, X_test3, y_train3, y_test3 = train_test_split(X_trainc2, y_trainc3, test_size=0.33, shuffle=False, random_state= 1)

### Naive Bayes using holdout, test size 0.33

In [254]:
gnb1= GaussianNB()
y_prednb3=gnb1.fit(X_train3,y_train3).predict(X_test3)
metrics.accuracy_score(y_test3,y_prednb3)

0.8473625140291807

### KNN using holdout, test size= 0.33

In [255]:
knn1= KNeighborsClassifier()
y_predknn3=knn1.fit(X_train3,y_train3).predict(X_test3)
metrics.accuracy_score(y_test3,y_predknn3)

0.9090909090909091

### Decision tree using gini, holdout, test size 0.33

In [256]:
dtclf3= DecisionTreeClassifier(random_state=1)
dtclf3= dtclf3.fit(X_train3, y_train3)
y_pred3= dtclf3.predict(X_test3)

In [257]:
metrics.accuracy_score(y_test3, y_pred3)

0.9629629629629629

In [258]:
X_train4, X_test4, y_train4, y_test4 = train_test_split(X_trainc2, y_trainc3, test_size=0.33, random_state= 1)

### Naive Bayes using random subsampling, test size= 0.33

In [259]:
gnb2= GaussianNB()
y_prednb4=gnb2.fit(X_train4,y_train4).predict(X_test4)
metrics.accuracy_score(y_test4,y_prednb4)

### KNN using random subsampling, test size= 0.33

In [ ]:
knn2= KNeighborsClassifier()
y_predknn4=knn2.fit(X_train4,y_train4).predict(X_test4)
metrics.accuracy_score(y_test4,y_predknn4)

### Decision tree using gini, random subsampling, test size=0.33

In [ ]:
dtclf4= DecisionTreeClassifier(random_state=1)
dtclf4= dtclf4.fit(X_train4, y_train4)
y_pred4= dtclf4.predict(X_test4)

In [ ]:
metrics.accuracy_score(y_test4, y_pred4)

### Naive Bayes using kfold, test size= 0.33

In [ ]:
y_prednb5= cross_val_predict(gnb, X_trainc2, y_trainc3 ,cv=3)
metrics.accuracy_score(y_trainc3, y_prednb5)

### KNN using kfold, test size= 0.33 (fold size)

In [ ]:
y_predknn5= cross_val_predict(knn, X_trainc2, y_trainc3 ,cv=3)
metrics.accuracy_score(y_trainc3, y_predknn5)

### Decision tree using gini, kfold , test size= 0.33

In [ ]:
dtclf5= DecisionTreeClassifier(random_state=1)
y_pred5= cross_val_predict(dtclf5, X_trainc2, y_trainc3 ,cv=3)
metrics.accuracy_score(y_trainc3, y_pred5)

In [ ]:
y_score5= cross_val_score(dtclf5, X_trainc2, y_trainc3 ,cv=3)
y_score5

In [ ]:
np.mean(y_score5)